@media screen and (min-width: 768px) {
  #programContainer {
    flex-direction: row;
  }

  .programItem {
    flex-direction: column;
    padding: 25px;
  }

  .programTitle {
    font-size: 1.2em;
  }

  #btnJoinEvent {
    display: none;
  }

  #btnJoinEventdesktop {
    margin-top: 50px;
    color: white;
    display: block;
    text-decoration: underline;
    font-size: 1rem;
  }

  #speakerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  #showMoreSpeakers {
    display: none;
  }

  #partners {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
  }

  #partners > h2 {
    margin-bottom: 0;
  }

  #partnersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #partnersContainer > img {
    width: 100%;
  }

  footer {
    display: flex !important;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
  }

  #footer > img {
    width: 20%;
  }
}
