@font-face {
  font-family: 'Lato-light';
  src: url("../Resources/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'Lato-bold';
  src: url("../Resources/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: 'Lato-heavy';
  src: url("../Resources/fonts/Lato-Heavy.ttf");
}

@font-face {
  font-family: 'Lato-black';
  src: url("../Resources/fonts/Lato-Black.ttf");
}

@font-face {
  font-family: 'Lato-hairline';
  src: url("../Resources/fonts/Lato-Hairline.ttf");
}

@font-face {
  font-family: Cocogoose;
  src: url("../Resources/fonts/Cocogoose.otf");
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --white: #d3d3d3;
}
